:root {
    --back_color1: #0D1B2A;
    --back_color2: #1D5599;
    --back_color3: #57849C;
    --accent_color1: #7FC6DE;
    --accent_color2: #DFDFDF;
    --accent_color3: #EFEFEF;
    --wild_red: #FF0000;
    --sunburst_red: #CC0000;
}

* {
    box-sizing: border-box;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif, sans-serif;
}
/* 
main {
    display: block;
} */

body {
    background-color: var(--back_color2);
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* padding: 0px keeps nav-bar at bottom of header */
/* text-align nav button text to center */
/* mobile ********************* */
header {
    background-color: #bbb;
    width: 100%;
}

header,
body {
    margin: 0 auto;
    max-width: 1200px;
}

footer {
    padding: 1rem;
    margin-bottom: 3rem;
    color: white;
    background-color: var(--back_color1);
    text-align: center;
}

h1 {
    font-size: 1.5rem;
    text-align: left;
    margin-left: 1rem;
}

h2 {
    color: var(--accent_color3);
    font-size: 1.2rem;
    text-align: left;
    margin: 1rem;
}

h3 {
    color: var(--accent_color3);
    margin: 0.5rem;
    font-size: 1rem;
    text-align: center;
}

/* Without unordered list, use flex-direction: row */
nav {
    max-width: 100%;
    margin: 1rem auto;
    background-color: #36454f;
}

nav a:hover {
	text-decoration:underline;
}

.active {
	color: yellow;
}

img {
    margin-right: 1rem;
}

button {
    margin-left: 1rem;
}

section {
    border: 4px solid greenyellow;
}

/*-------------------------------------------------*/
/* ID Selectors                                    */
/*-------------------------------------------------*/

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❎";
}

/*-------------------------------------------------*/
/* Class Selectors                                 */
/*-------------------------------------------------*/

.navigation {
    display: flex;
    flex-direction: column;
	list-style: none;
	background-color: #333;
	color: #fff;
}

.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}

.navigation a:hover {
	background-color: #bbb;
	color: #333;
	font-weight: 700;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
	display: block;
}

.active::before { 
	content: "📍";  /* just a wayfinding symbol for the user */
}

.head {
    display: flex;
    justify-content: center;
    margin: 1rem;
    max-width: 100%;
}

#grid-container {
    display: grid;
    /* grid-gap: 10px;
    width: 1000px; */
    width: 100%;
    margin: 0 auto;
    grid-template-columns: 2fr 1fr;
}

.rounded-box1 {
    border-radius: 10px;
    border: 2px solid yellow;
    margin: 0.5rem auto;
    grid-column: 1 / 2;
    height: auto;  
    width: 100%;
}

.rounded-box2 {
    border-radius: 10px;
    border: 2px solid red;
    margin: 0.5rem auto;
    grid-column: 2 / 3;
    height: auto;
    width: 100%;

}

.rounded-box3 {
    border-radius: 10px;
    border: 2px solid #0D1B2A;
    margin: .5rem auto;
    grid-column: 1 / 3;
    height: auto;  
    width: 100%;
}

.content1 {
	margin: 7px;
	border: 5px solid rgba(0, 0, 0, 0.1);
	background-color: rosybrown;
	height: 50vh;
}

.stuff {
	margin: 1px 3px 5px 7px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color: #bed;
	max-width: 580px;
	height: 50vh;
}

/*-------------------------------------------------*/
/* DEBUG ***************************************** */
/*-------------------------------------------------*/
/* header {
    background-color: #bbbbbb;
    color: var(--sunburst_red);
}

body {
    background-color: orange;
}

h2 {
    color: var(--wild_red);
}

h3 {
    color: blue;
} */
/*-------------------------------------------------*/
/* END DEBUG ************************************* */
/*-------------------------------------------------*/